[2017-08-30 04:02] cgorshing opened #1 "Provide check for an element's parent."
There are times where we want to make sure an element has a parent (i.e. an http:request must be enclosed within an until-successful).

This will only work for checking one level up, so it won't crawl up the hierarchy chain looking for any parent, but will look only at the direct parent.

Rule example:
`element 'http:request' hasParent 'until-successful'`

[2017-08-30 04:11] cgorshing opened #2 "Aggregate for logger count within flow"
In the output file, provide a count of loggers within each flow.

This will be a total aggregate and not broken down by category.

[2017-09-05 02:45] cgorshing commented on #2
Done -> https://github.com/Nuisto/mule-lint/commit/67edc591bc49da7412f1047229e525b29e6ba03c

[2017-09-05 02:45] #2 closed

[2017-09-05 02:54] cgorshing opened #3 "Provide more simple verbiage for common checks"
Using the correct DSL, validating on a http:request User-Agent string would be:
`element 'http:request' hasChild 'http:header' withAttribute 'headerName' havingValue 'User-Agent' withAttribute 'value' havingValue 'my-bot-name 1.0'`

This is too verbose for a common scenario, provide a more terse, more readable DSL for this use case.

[2017-09-05 02:56] cgorshing opened #4 "Default Rules"
With people getting started with Mule, they might not know what they are looking for, what makes good/bad Mule code or not.

Provide a default set of rules that are used when rules are not specified on the command line.

[2017-09-16 03:34] cgorshing opened #5 "Line Numbers in Results File"
Provide a line number in the output so others know where the violation occurred.

The project using XmlParser and we are getting the line number from this class. There are already instances were the line number given is not accurate. If a solution can not be found, then other XML parsers will be researched to provide a more accurate reading.

[2017-09-16 16:18] cgorshing opened #6 "Duplicate findings"
When processing multiple files, there are duplicate messages from prior files in subsequent items.

[2017-09-16 17:14] #6 closed

[2017-09-16 17:14] #5 closed

[2017-09-16 17:14] #1 closed

[2017-09-22 18:36] cgorshing opened #7 "Provide rules for elements immediately following or preceding an element"
When using a http:request or db query, it is nice to have a logger both immediately before and after so metrics could be captured during runtime on the latency of those calls.

So although this is more slanted to loggers in general, it could be any element.

Provide a rule for asserting element X occurs before element Y, and element Z occurs after element Y.

[2017-09-22 18:38] cgorshing opened #8 "Flow Count Aggregator"
As a developer I would like to know how many flows are in each file so I can stay on top of longer/larger files that probably need to be broken up and refactored.

[2017-09-27 02:11] #8 closed

[2017-09-27 02:35] cgorshing opened #9 "Increment Results Version"
With the changes to the aggregations section, increment the version.

[2017-09-27 02:36] #9 closed

[2018-04-03 21:10] pkasson opened #11 "Mule artifacts"
Is it possible to get the flow artifacts - name, sub flow, steps, etc, using the Mule Lint library ?

So, how hard would it be to have a call into the groovy code to return this data ... since you are already capturing it for your analysis ?

Thanks

[2018-04-11 01:33] cgorshing commented on #11
Is it possible - absolutely, but at some point this library won't have any added value if it passes each XML construct across to client code. At that point it is acting more like an xml parser than anything.

That being said, can you give more details on what you are thinking?

i.e. If you are wanting to get the flow name to perform your own validation of the name, then what else would you want? T

[2018-04-13 11:03] pkasson commented on #11
I want to perform analysis across several projects - catalog artifacts - what flows / sub flows / components.  One reason is to find violations - naming standards, etc.  Look for things like 'somewhere we had a routine that did ...'.    So need to get not just high level (flow name, step name) but the attributes therein.  Can also be used for documenting projects and static analysis in general, an

[2018-07-04 19:15] cgorshing opened #12 "PascalCase and camelCase Support"
Matching flow names is most often requested. There are quite a few possibilities for matching, or following a convention regarding flow names. Matching words for the proper casing will be difficult given the entirety of a given dictionary. ([see this StackOverflow answer](https://stackoverflow.com/questions/2632757/check-for-naming-convention-in-java))

We could possibly implement a user defined d

[2018-08-06 00:16] cgorshing commented on #11
"So need to get not just high level (flow name, step name) but the attributes therein .... with custom rules" --- What are you thoughts on how this would be handed off to you (the caller)? I would assume you would want some kind of groovy scripting environment to perform the custom validation logic right?

[2018-08-27 05:26] sumit-b02 opened #13 "Step by Step guide on how to use Mule-lint"
Requirement : I want to use Mule lint for static analysis of the mule code. By static analysis i mean, there are some best coding practices across the organisation which i want to check for every mule integration project that is built. I need to automate this process of Code Review. I came across Sonar XML path rules, but XML path 1.0 has several limitations, hence discarded. Next i came across Mu

[2018-08-27 06:51] sumit-b02 commented on #13
@cgorshing - request your help here.

[2018-08-27 20:06] cgorshing commented on #13
I will work on putting something together and posting it here. Stay tuned!

[2018-08-28 05:11] sumit-b02 commented on #13
Thank you @cgorshing  Eagerly waiting for a response.

[2018-09-05 00:51] pkasson commented on #11
Yes, attributes as well - things that allow for a way to inventory these artifacts.  There could be a callback so that any custom rules can further validate, filter or otherwise analyze the results.

[2018-10-03 12:12] pkasson commented on #11
Do you think it would simple enough to do this ?  I would be willing to help if I could get direction.

[2019-01-07 17:12] aashmaharoon commented on #13
Hi @cgorshing ,
Any update on this plugin. I also tried the tag 4 version because the master branch build fails. Anyway, I tried to use rules which you have mentioned as examples. Only 'has attributes' works and whenever other syntax used, maven build fails with "not emplemented" error. Can you please provide any workable sample rule set please?

[2019-01-07 19:22] cgorshing commented on #13
Yes @sumit-b02 and @aashmaharoon - My apologies on this. This week. Promise.

[2019-01-08 04:44] cgorshing commented on #13
I've updated this project's README.md to link to https://github.com/Nuisto/example-mule-lint-project showing how the rules.txt is setup and running `mvn clean compile`

If that example project does not help, then let me know what you were confused on or what wasn't clear.

I would be interested in what you all are planning to do with the `results.json` output file.

[2019-01-09 01:53] #13 closed

[2019-01-09 02:00] cgorshing commented on #11
When running mule-lint we would need to have some kind of spring config type of file to describe what "aggregators" to allocate and pass around. I would need to figure out what the API would look like though (ie. do we have callbacks for flow begin/end, element begin end ..etc).

You lose me on the "inventory these artifacts", because that doesn't seem to fit into the "linting" way.

Naming conven

[2019-01-10 03:24] cgorshing commented on #12
I've got a simplistic camelCase and PascalCase validation working, but doesn't work well when it comes across a APIKit like flow(s). So looking at putting in exclusion clauses.

[2019-01-10 03:26] cgorshing commented on #7
Implemented in v0.4

[2019-02-16 18:03] cgorshing commented on #11
Let me know if this is something you would still like.

[2019-02-16 18:03] #11 closed

[2019-02-16 21:31] cgorshing commented on #12
I've got an initial stab ready of camel case checking in the 0.5.0 release. I'll follow up with another release soon to add in `exclude` capability.

Documentation is at https://github.com/mule-lint/mule-lint/wiki/Handling-of-Camel-and-Pascal-Case

[2019-02-16 21:31] #12 closed

[2019-02-17 22:53] cgorshing opened #14 "Choosing different coordinates"
https://central.sonatype.org/pages/choosing-your-coordinates.html offers the suggestion of using `io.github.mule-lint` as possible coordinates instead of `org.nuisto`.

[2019-02-17 23:36] cgorshing opened #15 "Incompatibility error with any JRE Java9 or greater"
Mule Lint will only work with Java8 since there is an issue with the JsonBuilder apart of the Groovy library used by Mule 3.x and so far 4.x.

The JsonBuilder used within Groovy has a problem with Java9+ (including Java11). The Groovy dependency used by Mule is Groovy-2.4.4.

The errors you will see are similar to the following:

    java.lang.ClassCastException: class [B cannot be cast to class [

[2019-03-17 16:01] cgorshing opened #16 "Enterprise Option"
Using mule-lint as it stands across multiple projects is a bit of a bear as it will require a good amount of duplication across projects (rules file particularly).

It would be good to have an enterprise option to have a single place to specify rules, ignore patterns, and view results for all projects.

[2019-06-11 03:06] cgorshing opened #17 "IDE Plugin? Sonarqube? Standalone?"
Please leave a comment here on what are some preferences around how to execute/run mule-lint against your project?

Anypoint Studio plugin?
Intellij plugin?
Sonarqube?
Standalone (current)?

[2019-06-25 12:13] cgorshing opened #18 "Fail build when infractions are found"
There are some expectations folks have when using this project, that if a project does not comply with the rules, then that should break the build.

I find this to be subjective and others might not want to fail the build, or possibly only fail the build if X is greater than Y%.

For now, I've added in a basic "failBuild" option that will, as the name implies, fail the build if any rule is broken.

[2019-09-05 15:21] ryandcarter opened #19 "hasAtrribute never finding an infraction"
Hi, I have downloaded the latest 0.6.0 snapshot and it runs fine. dash cased, camel cased all works.

But hasAttribute never seems to find infractions.

element 'logger' hasAttribute 'blabla'

[2019-09-05 15:31] ryandcarter commented on #19
Actually, it all depends on what the first line in the rules.txt is:
It only seems to run the first line in the rules.txt file. This one finds  logger infractions but not flows:
version '0.0.1'

element 'logger' hasAttribute 'category'
flows are dash cased

This finds flow infractions but not loggers:
version '0.0.1'

flows are dash cased
element 'logger' hasAttribute 'category'

[2019-09-06 03:50] cgorshing commented on #19
Thanks for the report! I'll work on this and get back to you soon - thanks again!

[2019-09-09 21:29] cgorshing commented on #19
Looks like the last rule isn't added correctly to the list (fail).

So a quick workaround would be:
[code]

Working on the fix.

[2019-09-12 18:58] michaelh704 opened #20 "Documentation update?"
I am having issues getting this working and the documentation doesn't really say how to set this up from scratch. Running gradlew build from the cmd line throws the error: "A problem occurred evaluating root project 'mule-lint'.

Also, when trying to install the mvn plugin, it throws the following: "[ERROR] Failed to execute goal org.apache.maven.plugins:maven-install-plugin:3.0.0-M1:install-file

[2019-09-12 23:28] cgorshing commented on #20
```I am specifying the correct pom file from the repo downloaded```

Can I get more information on what your pom looks like? You shouldn't be downloaded a pom from the repo downloaded, but using your pom in your project with the plugin added.

If your project is already a maven project, then using mule-lint-maven-plugin is the way to go.

[2019-09-12 23:30] cgorshing commented on #19
I've got these changes in and will try and cut a release tonight. I might not as my key previously used has expired and I created a new one, so not sure what that process looks like for maven central with a new key.

[2019-09-13 00:07] michaelh704 commented on #20
I guess I am confused. The instructions here https://github.com/mule-lint/mule-lint-maven-plugin/blob/master/README.md say to add that section to my projects pom file, which I did, but I get this error: "[INFO] BUILD FAILURE
[INFO] ------------------------------------------------------------------------
[INFO] Total time:  1.348 s
[INFO] Finished at: 2019-09-12T20:05:42-04:00
[INFO] --------------

[2019-09-13 02:50] cgorshing commented on #20
ah - give me a day or so and I'll get back to you. Yes I need to update that example as the version is old, but I need to check on something first.

[2019-09-13 13:21] cgorshing commented on #19
Got it released - can you try 0.5.1 please?

https://repo1.maven.org/maven2/org/nuisto/mule-lint/0.5.1/

[2019-09-13 14:46] michaelh704 commented on #20
Hey sir, I tried the update and got a little further. I got the following error when doing the build to lint:

[ERROR] Failed to execute goal org.nuisto:mule-lint-maven-plugin:0.5.1:analyze-mule (default-cli) on project sgas-esb-openid-app: Failure on mule-lint -> [Help 1]
org.apache.maven.lifecycle.LifecycleExecutionException: Failed to execute goal org.nuisto:mule-lint-maven-plugin:0.5.1:analyze

[2019-09-14 20:23] cgorshing commented on #20
I've just recently released a new version, can you try version 0.5.1 and see if you still get the same error?

I have updated https://github.com/mule-lint/mule-lint-maven-plugin/blob/master/README.md as well

[2019-09-16 12:12] michaelh704 commented on #20
Hello, I got that error using 0.5.1.

Michael

From: Chad Gorshing <notifications@github.com>
Sent: Saturday, September 14, 2019 4:23 PM
To: mule-lint/mule-lint <mule-lint@noreply.github.com>
Cc: michaelh704 <michaelh24@msn.com>; Author <author@noreply.github.com>
Subject: Re: [mule-lint/mule-lint] Documentation update? (#20)

I've just recently released a new version, can you try version 0.5.1 an

[2019-09-23 07:44] christiaanhoogendoornvopak opened #21 "Any plans for mule 4.x support/example project?"
Hi,

Are there any plans for mule 4.x support? Or if this is already possible a working example project for mule 4.x?

Chris

[2019-09-23 13:14] cgorshing commented on #21
Absolutely! I haven't had the opportunity to work on a Mule4 project [yet], but I will work with others to ensure all is functioning correctly for Mule4.

I'm sure new rules will come out of it as well.

[2019-09-30 08:51] christiaanhoogendoornvopak commented on #21
That is great news? Do you have any idea of a timefrime when this can be expected?

Chris

[2019-09-30 13:41] christiaanhoogendoornvopak opened #22 "dash or hypen does not seem to work"
Hi,

I want to validate mule flow names against "dash" casing. So "sys-api" should be OK. But SysApi should be detected as an invalid flow name. The example rules.txt uses "flows are camel cased" and this works find, but it is not clear to me what it should be if I want to check for "dash" casing.

I have created the below set of rules in the rules.txt file which results in the error further below

[2019-09-30 14:05] ryandcarter commented on #22
flows are dash cased

is correct.

Support for dash cased is only in the latest build, not in the published Maven artifact, so you need to build from source for that feature atm.

[2019-10-01 08:08] christiaanhoogendoornvopak commented on #22
Ryan,

Thanks for your quick response. Do you have any idea when 0.6.0 will be releases as a Maven artifact?

Chris

[2019-10-01 13:01] cgorshing commented on #22
Very soon :)

I've recently moved and have been "busy" with getting things settled, hopefully in the next few days I can wrap up these bugs folks have been experiencing and cut a release.

Love it that people are using this now and I'm starting to hear from folks using it.

[2019-10-03 08:18] christiaanhoogendoornvopak commented on #22
Great news, thanks for the update Chad!

On Tue, Oct 1, 2019 at 3:01 PM Chad Gorshing <notifications@github.com>
wrote:

--

Christiaan Hoogendoorn | MuleSoft Developer | E:
christiaan.hoogendoorn@vopak.com
Vopak Global IT B.V. | Westerlaan 10, 3016 CK Rotterdam, The Netherlands |
www.vopak.com
Trade Register: 24146892

[2019-10-07 02:01] #19 closed

[2019-10-07 02:10] cgorshing commented on #20
Working a new release for this issue - The dictionary attribute needs to be required and some of the docs were missing this.

[2019-10-07 02:10] #20 closed

[2019-10-07 08:32] christiaanhoogendoornvopak commented on #22
this works now in latest 0.5.1 version. Nice!

[2019-10-07 08:32] #22 closed

[2019-10-07 08:52] christiaanhoogendoornvopak commented on #22
this is now working for me since 0.5.1 release. Thank you!

[2019-10-07 08:55] christiaanhoogendoornvopak commented on #21
I found out this actually this is very simple to fix by changing the maven plugin configuration to 					<sources>src/main/mule</sources> since in mule 4 the Mule Flows are in the mule folder rather than in src/main/app.

[2019-10-07 08:55] #21 closed

[2019-10-07 09:26] christiaanhoogendoornvopak opened #23 "how to apply rules on both mule flows and munit folders?"
Hello,

We have the same naming conventions for Munt and Mule flows. How can I pass in the 2 folders both into the maven plugin?

This configuration in the pom.xml (using the maven plugin) does not work (yet)
<sources>src/main/app, src/test/munit</sources>

thank you!

Christiaan

p.s. using 0.5.1

[2019-10-07 12:54] cgorshing commented on #23
I would just use `src`. There is an exclude option in case there are flow you need to exclude as well.

[2019-10-07 14:06] christiaanhoogendoornvopak commented on #23
great, works. Thanks!

[2019-10-07 14:06] #23 closed

[2019-10-07 14:31] christiaanhoogendoornvopak opened #24 "check contents of pom file?"
Hello,

Does mule-lint already or ever will (also) support functionality to :
- validate if certain versions of maven dependencies are present in the pom.xml? (to detect if depricated versions are still being used or if the latest parent pom is used)

Christiaan

[2019-10-07 14:38] cgorshing commented on #24
I hadn't thought about adding this in, I would think there are already solutions for handling maven dependency issues. But if there isn't something like this, then I'm sure something can be put together.

What dependencies would be an issue to help protect against?

[2019-10-07 14:52] christiaanhoogendoornvopak commented on #24
I will first investigate other solutions like you suggest, and later come back with potential improvements.

Thank you!

Christiaan

[2019-10-07 14:52] #24 closed

[2019-10-07 14:55] christiaanhoogendoornvopak opened #25 "check contents of yaml files?"
Is there an option to check contents of yaml files?

for instance:
- if a property in a yaml file is named ´password´ it must be encrypted?
- if a property in a yaml file contains 'queue' it must only contain lower case and be dot-seperated?

thank you!

Christiaan

[2019-10-07 15:14] christiaanhoogendoornvopak opened #26 "is it possible to check line breaks and white spaces?"
Hello,

We have a requirement that (for readibility purposes) there must be a line break and white line between flows and subflows (and munits). Is it possible to check for this requirement?

This would have to be marked as wrong:
[code]

This would be correct:

[code]

Christiaan

[2019-10-08 01:45] cgorshing commented on #22
Just getting to look into this issue. I need to work on better error handling from mule-lint through the maven-plugin.

This problem is the version of the rule file is not '0.0.1', that is the error you are seeing. This is something else I need to address as well. But the rule file version is different from the artifact version that is managed by Maven.

Dash cased should work just fine in the 0.5

[2019-10-08 01:49] cgorshing commented on #26
One thing I don't like is attributes or child elements being too long. This was common with the Salesforce connector and the query used ... the connector would put the full query all in one line. So many times I would by hand put in line breaks to clean it up.

For XML formatting though I was thinking about deferring to an XML linter that doesn't know anything about Mule code. I'm scared of crossi

[2019-10-08 02:37] #18 closed

[2019-10-08 02:44] cgorshing commented on #25
One thing that makes Mule code easier to process is the format is well known, besides xml, there is also a schema for it. How would this work for yaml files? Would a `password` attribute be at any level or just the root level?

[2019-10-08 02:45] #15 closed

[2019-10-08 07:42] christiaanhoogendoornvopak commented on #22
verified, and dash-case is indeed working in 5.0.1. Thanks for that!

I did not manage to find out what the version 0.0.1 in the rules.txt
actually means and what I should need it for. Did I overlook it in the
documentation?

Christiaan

On Tue, Oct 8, 2019 at 3:45 AM Chad Gorshing <notifications@github.com>
wrote:

--

Christiaan Hoogendoorn | MuleSoft Developer | E:
christiaan.hoogendoorn@vopak.

[2019-10-08 07:51] christiaanhoogendoornvopak commented on #25
At any level.  A yaml file has some quite strict formatting rules and hierarchy, but there is no schema for it as such. There is no single root element like xml, but you will be able to create an in memory tree and search for certain words (perhaps in a dictionary) and verify that the actual value starts with ![ and ends with ], indicating that it is encrypted.

Attached is an  example raml file (

[2019-10-24 09:28] Boudedi opened #27 "Question : mule-lint & maven plugin generation"
Hi @cgorshing,
I am testing mule-lint and finding very it interesting.
I am wondering how to generate the mule-lint-maven-plugin based on a current project.
Are there any particular steps?

Thank you, I would love to contribute to this project.

[2019-10-24 11:58] cgorshing commented on #27
I'm not sure what you mean by "generate" ... The maven plugin is a different project and has some instructions on what changes need to be made to your existing pom/project. I also made https://github.com/mule-lint/example-mule-lint-project which will show you what a pom could look like with the maven plugin.

[2019-11-04 20:53] #27 closed

[2019-11-18 09:46] christiaanhoogendoornvopak opened #28 "What does the dictionary.txt do and how should I use it?"
Hi,

I cannot find the exact purpose of the dictionary.txt file. How can we use it to our advantage? Can you describe a short usecase (or a how-to) how it can be beneficial?

Christiaan

[2019-11-18 21:09] cgorshing commented on #28
Good call out - The best I have is at https://github.com/mule-lint/mule-lint/wiki/Handling-of-Camel-and-Pascal-Case .. but still doesn't call it out explicitly. I'll work on this.

[2020-01-10 22:07] jcam opened #29 "Github Action?"
Have you considered adding a Github Action?
It could be as simple as a docker container that starts from groovy, adds mule-lint, then runs the gradlew command as the CMD.

This would allow adding your mule lint check as a simple plug in for any github repository!

[2020-01-11 09:53] pankajmangal2007 opened #30 "any rule to find specific files in project like properties file- qa.properties, dev.properties ?"
Is there any rule available for finding the files like I want to make sure my project have 4 properties files qa,dev,stage and prod.

[2020-01-13 16:27] cgorshing commented on #30
Not currently - There are many things that are yet to be completed with Mule code, once there is better coverage of features against Mule code, then other items could be addressed.

[2020-01-13 16:27] #30 closed

[2020-01-13 16:27] cgorshing commented on #29
I have not considered it, I'll look into it.

[2020-02-01 19:33] bryanyongwonkwon commented on #17
Anypoint Studio plugin + standalone would be my preference. IDE plugin will be for the devs and standalone scanner will be for the DevOps pipelines.

[2020-05-21 01:39] #26 closed

[2020-06-25 03:26] AppBankDigital opened #31 "Building master branch in my local box"
when i try to run ./gradlew build in my local machine and getting the below error. JDK 1-.8 in my machine and used master branch code.

* What went wrong:
A problem occurred evaluating root project 'mule-lint'.

[2020-06-26 02:56] cgorshing commented on #31
Thank you for this - I haven't had anybody else build it besides me. This error, and others you will run into, are related to the `maven` and `signing` gradle plugins. I'm looking to see what options exist to work around this so others can build without having to have these properties defined/used. I'll let you know what I find out.

For now, if you are interested, you should be able to create a f

[2020-06-26 04:01] AppBankDigital commented on #31
Thanks for the reply. The signing step is not working. Is there any easy option to handle this.

************************************

FAILURE: Build failed with an exception.

* What went wrong:
Execution failed for task ':signArchives'.

* Try:
Run with --stacktrace option to get the stack trace. Run with --info or --debug option to get more log output. Run with --scan to get full insights.

* G

[2020-06-26 13:03] cgorshing commented on #31
You can probably remove the maven and signing plugin along with the config for those plugins (so you don't get undefined errors). I'm looking at how to make this optional, I'm not sure what options are available for these plugins so I'm looking through that.

[2020-07-30 18:34] cgorshing commented on #31
Pull and try again please - I just pushed up some changes that _might_ make `./gradlew build` work now :)

[2020-07-31 02:28] prapakaransp commented on #31
Let me check and keep you posted.

[2020-08-07 02:36] cgorshing commented on #31
(Correction) Now try it 👍

I found another issue with the username/password even though the task doesn't execute.

Above I mentioned doing a `./gradlew build` but try a `./gradlew install` as that is more what you are wanting to do I'm sure.

[2020-08-16 18:39] #31 closed

[2020-08-16 18:41] cgorshing commented on #25
I'm struggling to keep the scope of this project moving, so I'm going to try and stay focused on what to do next. For yaml, I can easily see that be valuable, but possibly for another project. Closing for now, but happy to discuss later if mule-lint continues to grow.

[2020-08-16 18:41] #25 closed

[2020-08-16 19:02] cgorshing commented on #28
I added some docs to https://github.com/mule-lint/mule-lint/wiki/Configuration - I still need to do more, but this is a start.

[2020-08-16 19:02] #28 closed

[2020-08-19 15:25] cgorshing opened #32 "v0.5.2 is broken - class file for groovy.lang.GroovyObject not found"
When mule-lint was upgraded to gradle-6.6 I also moved off of any deprecated features that gradle warned about. This included not using `compile` but instead use `implementation`. The build/release looked good, tests were all good as well. I didn't try `mule-lint-maven-plugin` against the built release before pushing to public though (lesson learned).

The pom generated for mule-lint had the groov

[2020-08-20 19:25] cgorshing commented on #29
This is preliminary work and still needs some loving, but I have a github action working at https://github.com/mule-lint/example-mule-lint-and-github-action

I need to kick the wheels on this more and make sure all is okay, work on the docs ...etc. But wanted to ping ya about it since you mentioned it to me first.

[2020-08-20 20:07] jcam commented on #29
Excellent! I may give this a try for one of our test repos. Thank you!!

[2020-09-01 11:55] ptupakul opened #33 "requesting rules to add"
HI,

I am Using Mule lint for my mule application code review purpose. But I am able to only few rules that you are mentioned in example project..
some rules to implement like..
1). Mule configuration file Naming convention checking..
2). Property files existed or not in the project..
3).Unable to check naming convention for most of the components having attribute "doc:name"(because of colon)....

[2020-09-01 13:50] cgorshing commented on #33
Thanks for the feedback, questions for ya.

1) What conventions would you like to start with? Just casing conventions?
2) For the property files check, how would this list be given to mule-lint? Or would it be sourced from other files?
3) let me check on the "doc:name" attribute.

[2020-09-02 10:06] ptupakul commented on #33
Hi,

1.Just casing conventions?--> yes.(mostly kebab case) and also try to implement  casing checking for all components.. if possible
2. for property files if it possible take it from the src/main/resources.. check suffix like ${mule.env} .**properties** or ${mule.env}.**yaml**..
3. **hasChild** is also giving problem please look into that. then we can write more rules.

[2020-09-14 08:54] ptupakul commented on #33
Can we check Naming conventions Using Regular expressions ??..

[2020-09-14 13:01] goelmayank commented on #33
hi,

can we add this rule: 'json-to-object-transformmer' hasParent 'dw:transgorm-message'

[2020-09-15 01:20] cgorshing commented on #33
@goelmayank Do you really mean parent or preceding sibling? Can you provide a code example?

@ptupakul Let me see what regex's would be like.

Also FYI - Mule has a sonarqube plugin now https://www.linkedin.com/pulse/mulesoft-sonar-plugin-mule4-mule3-sadik-ali

[2020-09-15 04:54] goelmayank commented on #33
@cgorshing yes, I mean preceding sibling. rule: 'json-to-object-transformmer' hasPrecedingSibling 'dw:transform-message'

[2020-09-15 05:55] goelmayank commented on #33
ok I just found that hasPriorSibling and hasFollowingSibling is already there and it works for any tags

[2020-09-17 12:20] goelmayank commented on #33
@cgorshing, I have a few more requirements. Could you kindly throw more clarity on whether we can modify the utility to:
1. check for hardcoded values for certain tags like <add-message-property>,
2. check if a certain attribute of a certain tag has a value different from the specified one,
3. check if any of the child tags of an element have repeated key values.

[2020-09-17 14:02] cgorshing commented on #33
@goelmayank For 1, I would need more information, open a new issue with those details.

2 - this has been on my mind as well.

3 - Can you open a new issue and provide some code examples of what you are thinking?

[2020-09-18 05:45] goelmayank opened #34 "Requesting rules to check for hardcoded values for mule tags"
The way to distinguish between hardcoded and non hardcoded values for mule tags is by checking for the presence of certain specific characters. Generally, if a variable is present in the value, it will start with a $ symbol and if it is a hard-coded value, it would begin with anything other than a $ symbol.

Example of a hardcoded value:

<add-message-property key="Saml" value="&lt;saml:Assertion

[2020-09-18 05:46] goelmayank opened #35 "Rule to check if a certain attribute of a certain tag has a value different from the specified one"
I think it is obvious and needs no example.

[2020-09-18 05:49] goelmayank opened #36 "Rule to check if any of the child tags of an element have repeated key values"
Example of repeated child tags of an element:

<message-properties-transformer name="parentVariable" doc:name="accountsListOutboundHeadersForEntitlementsDecisions" >
            <add-message-property key="variable1" value="value1"/>
            <add-message-property key="variable2" value="value2"/>
            <add-message-property key="variable1" value="value1"/>
</message-properties-transformer>

[2020-09-18 05:50] goelmayank commented on #36
<message-properties-transformer name="parentVariable" doc:name="accountsListOutboundHeadersForEntitlementsDecisions" >
            <add-message-property key="variable1" value="value1"/>
            <add-message-property key="variable2" value="value2"/>
            <add-message-property key="variable1" value="value1"/>
</message-properties-transformer>

[2020-09-18 05:54] goelmayank commented on #33
Hi @cgorshing, I have opened up 4 issues as requested by you. 34, 35, 36, and 37. Kindly have a look and let me know if we can customize the utility on our end.

[2020-09-18 06:09] goelmayank opened #37 "Rule to check if transformation component is used to set variables instead of set variable component"
One can create, or update, variables in these ways:

1. Using the Set Variable component.
2. Using the DataWeave Transform Component (EE-Only)

Mule guidelines discourage the use of a Transform Component to set a variable in cases such as selections and instead recommend the use of the Set Variable component in such cases.

This XML example sets a variable that takes a map as a value:
<set-variabl

[2020-09-19 02:45] cgorshing commented on #29
Closing this for now, if we need other things then we can open a new issue.

[2020-09-19 02:45] #29 closed

[2020-09-20 20:22] cgorshing commented on #33
@ptupakul You are correct about doc:name, I'll work up a test case and get that fixed, thank you for reporting that!

[2020-09-22 01:52] cgorshing commented on #33
@ptupakul Can you give me more information of "hasChild is also giving problem please look into that. then we can write more rules." please. An example rule or flow would be good

[2020-09-22 02:55] cgorshing commented on #33
@goelmayank  "check if a certain attribute of a certain tag has a value different from the specified one". Can you try a rule such as:

    element 'dw:transform-message' hasAttribute 'something', ['expected attribute', 'or another possible one']

I don't like the above syntax, but it is working for me, at least for the test I have written up. If something isn't working for you, then please open a

[2020-09-22 12:58] goelmayank commented on #33
@cgorshing Right now what it does is it give me a message for all the times the node does not have that attribute as well. My requirement is that when I specify this rule to check value for a certain attribute in a node, I get a message in results.json only when that attribute is present in the node.

E.g.
<set-attribute key1="valueA">ABC</set-attribute>
<set-attribute key2="valueB">ABC</set-attri

[2020-09-23 01:57] cgorshing commented on #35
@goelmayank You have mentioned this in #33 as well. I've tried a couple different combinations and can't get it to fail. What version are you using? It may be obvious to you, but can you provide an example rule and mule flow snippet to repro please as I am not able to now.

[2020-09-23 01:59] cgorshing commented on #33
I'm going to close this issue for now. There are many different items being discussed and I'm all for continuing the conversation in specific stories for each item. Having this one issue open for numerous requests isn't the best way to move forward.

I'll look at what it would take to get regex matching or kabab casing in the rules.

[2020-09-23 01:59] #33 closed

[2020-09-23 02:13] cgorshing commented on #36
@goelmayank Can you try to update your message above please so your example is shown - thanks!

[2020-09-23 02:29] cgorshing commented on #34
Would you want the rule to fail if it is hardcoded?

Would you want it tied to a specific element or in general? Meaning a rule for "all elements should not have a hard coded attribute"?

Some api related mule code has flow names as `get-business-units-{buCode}-inventory-{sku}` would these fail the hardcoded rule or would they pass? Would attributes as "prefix-value-${blah}" be acceptable? Meaning

[2020-09-24 00:56] cgorshing opened #38 "Global Elements Rule"
I had a request to enforce global elements can only be specified in known file(s).

Only allow global elements not a flow or sub-flow, in defined "global files". The global file option should allow for 1 or many filenames.

[2020-09-24 07:30] goelmayank commented on #36
[code]

[2020-09-24 07:35] goelmayank commented on #35
@cgorshing Right now what it does is it give me a message for all the times the node does not have that attribute as well. My requirement is that when I specify this rule to check value for a certain attribute in a node, I get a message in results.json only when that attribute is present in the node.

E.g.
Line 1. <node attritbute1="value1" />
Line 2. <node attritbute2="value2" />

Rule : element

[2020-09-24 07:44] goelmayank commented on #34
@cgorshing I will like to have it work for a specific element.

get-business-units-{buCode}-inventory-{sku} is hard coded so it should fail. not hard coded means ${...} syntax.

[2020-09-24 07:50] goelmayank opened #39 "Is it possible to build mule lint with maven"
Hi @cgorshing In my organization, Gradle is not supported so I am facing issues with build the mule-lint project in my office laptop. Using the Spring tool suite, I was able to convert the mule-lint project into a maven project. But then mule-lint-maven-plugin failed to build with the jar file of the mule-lint project thus built. Is there a way to build mule-lint using maven. ALso if it is possibl

[2020-09-27 23:30] cgorshing commented on #35
@goelmayank I'm not able to reproduce this. If you could provide some example information (flow, elements, rules, and results file) that would be great.

Mule flow example I'm using
[code]

The rules file:
[code]

And the results file:
[code]

When mule-lint rules, I also get the output that it found no infractions:
[code]

[2020-09-27 23:30] #35 closed

[2020-09-28 00:32] cgorshing commented on #39
For your work, why would you need to build mule-lint?

I plan on keeping it as a Gradle project and as a separate jar file so we can possibly use it in other environments (either Sonarqube, Eclipse/Intellij plugin, build server integration ..etc).

[2020-09-28 00:32] #39 closed

[2020-09-28 05:37] goelmayank commented on #35
Hi @cgorshing i meant if there is a node which does not have attribute1 as an attribute, then it will print in log, that node does not have attribute1 as an attribute but the purpose of the rule is to check if the value In attribute1 is value1 or not, not to check if attribute1 itself is there or not.

[2020-09-28 12:20] cgorshing commented on #35
"but the purpose of the rule is to check if the value In attribute1 is value1 or not, not to check if attribute1 itself is there or not" that is incorrect, the purpose of the rule is that the attribute is there **AND** with the value. I'll change the wording to make that more clear.

This is working as intended, just the messaging isn't clear.

[2020-10-01 11:18] goelmayank opened #40 "Estimate on timeline for new rules"
hi @cgorshing,

I came across these rules in your test/resources/rules.txt

`
element 'logger' hasMatchingAttribute 'category', 'com.example.*'
element 'logger' hasAttributeStartingWith 'category', 'com.example'
element 'logger' hasAttribute 'category' startingWith 'com.example'

//Version number to be determined
//element 'http:request' hasChild 'User-Agent'

//element 'http:request' hasChild 'ht

[2020-10-05 06:37] goelmayank opened #41 "Rule in readme not working"
Hi @cgorshing  themule-lint rule with multiple values in hasAttribute is not working.

[2020-10-23 05:55] mayankhsbc opened #42 "Request for new rules"
1. Outbound headers should not be duplicated to SAPI calls  --- Pending

We can check whether any key or value attribute is having duplicate value or not

For Example -

<add-message-property key="Cache-Control" value="no-cache"/>

<add-message-property key="Cache-Control" value="no-cache"/>

For Value attribute, I think our existing below rule Should work. But need to have single rule for both ke

[2020-10-26 23:39] cgorshing commented on #42
I'm currently working through some new rules and figuring out how they will fit. I'll get back to you soon

[2020-10-26 23:40] cgorshing commented on #41
Thanks for reporting it

Are you talking about this one:

    element 'http:request' hasChild 'http:header' withAttribute 'headerName' havingValue 'User-Agent' withAttribute 'value' havingValue 'my-bot-name 1.0'

[2020-10-26 23:41] cgorshing commented on #40
I'm working on some new rules, once I get those lined out I'll get back to you on this one.

[2020-10-26 23:43] cgorshing commented on #37
@goelmayank Did you get cut off? I'm not seeing an ask above.

[2020-11-09 06:57] goelmayank commented on #42
@cgorshing would you mind sharing by when and what can we expect in the update so that I can plan accordingly.

[2020-11-09 16:24] cgorshing commented on #42
I was without power for over a week due to a winter storm that has slowed me down and impact other areas. My plan is to leave the current format of the rules alone, but I'm building out a new way to describe the rules entirely. The rules are growing too much for a nice little sentence. I looked at using multiple sentences to pair things together, but then I have to carry start across and had some

[2020-11-23 03:24] cgorshing commented on #41
Closing for now - let me know if you can provide a bit more information.

[2020-11-23 03:24] #41 closed

[2020-11-23 03:39] cgorshing commented on #40
I'm working these into the new rules. I've got `valueMatching` working with the new rules. I'm working on the documentation.

https://github.com/mule-lint/mule-lint/commit/a27c7a861c3e7ab0e0eaf1552f1d4bf570244bb7

[2020-11-23 03:39] #40 closed

[2020-11-23 03:59] cgorshing commented on #42
@mayankhsbc Is the first one you describe the same as https://github.com/mule-lint/mule-lint/issues/36?

For your second request - I've seen folks have a http post in a loop of 3 times if the error code is a 500. They were dealing with a http service that wasn't too reliable and would often return 500's. Typically I agree with you, but I'm not sure I want to have that as a rule.

For your third re

[2020-11-23 04:06] cgorshing commented on #37
@goelmayank I'm closing this for now, if you can provide more details I could re-open. I agree there is a lot that can be done around variables and dataweave particularly.

[2020-11-23 04:06] #37 closed

[2020-11-23 04:07] #32 closed

[2020-11-30 07:27] goelmayank commented on #42
@cgorshing I had been travelling so sorry for the delay in reply. Yes. They are the same..

Any idea if we will be having these rules anytime soon or how we can go about implementing them ?

[2020-11-30 21:08] cgorshing commented on #42
If you are talking about the rules "mayankhsbc" requested (which I guess is your second account), then I still have questions you haven't answered above.

[2020-12-02 05:57] goelmayank commented on #42
@cgorshing I don't know how I missed out your questions.

For the second request, I agree that the rule as is may not be in need universally but you will agree that there should be a provision to have a rule to simultaneously check for the presence of more than 1 property on a node, in this case, the two properties being that the value attribute has value of http and the hasParent check for checki

[2022-04-13 13:11] #42 closed

[2022-04-13 13:12] #36 closed